<ion-header>
  <ion-navbar>
    <ion-title>
      Create Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-list>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
  
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" #username></ion-input>
  </ion-item>

 
  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" #password></ion-input>
  </ion-item>
  
</ion-list>

<div padding>
  <button block ion-button (click)="registerUser()" item-left>Register</button>
</div>

</ion-content>