<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
    <button block ion-button (click)="test1()" item-left>Test 1</button>
  </div>
  <div padding>
    <button block ion-button (click)="test2()" item-left>Test 2</button>
  </div>
  <div padding>
    <button block ion-button (click)="signout()" item-left>Signout</button>
  </div>
</ion-content>
